parameters:
    level: 9
    paths:
        - src
    bootstrapFiles:
        - vendor/autoload.php
includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
